.select-search {
  position: relative;
}
.rounded__select {
  position: absolute;
  top: 20px;
  left: 0;
  right: 0;
  z-index: 999;
  background-color: #fff;
  padding: 20px;
  max-height: 100px;
  border-radius: 10px;
  box-shadow: 21px 14px 63px -2px rgba(0, 0, 0, 0.43);
  overflow-y: scroll;
}

.rounded__input {
  width: 100%;
}
